Package: com.thiennhan.toolbox
Name: ToolBox Pro
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Professional Device Optimizer & System Dashboard.
Maintainer: ThienNhan
Author: ThienNhan
Section: Utilities
  
